.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.my-h-scroll {
  display: flex;
  height: 245px;
  overflow-x: scroll;
}

.my-h-scroll::-webkit-scrollbar {
  display: none;
}
.my-v-scroll {
  display: flex;
  width: 100vw;
  height: 75vh;
  overflow-y: scroll;
}

.my-v-scroll::-webkit-scrollbar {
  display: none;
}

.my-card {
  width: 'auto';
  height: 200px;
  min-width: 180px;
}

.my-v-scroll .my-card {
  width: 180px;
  height: 200px;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.table-contents, .table-headers {
  border-spacing: 0%;
  border-top: 1px solid lightslategrey;
}
.table-row-options {
  border-left: 1px solid lightslategrey;
}
.table-contents:hover {
  background-color: lightslategrey;
}
.table-scroll {
  width: 100%;
  height: 65vh;
  overflow-y: auto;
}
th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 4;
  background-color: lightslategray;
}
.pull-right {
  margin-left: auto;
  margin-right: 2%;
}
.admin-toolbar {
  display: flex;
  justify-content: flex-end;
}
.display-scroll-none::-webkit-scrollbar {
  display: none;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 5;
}

.modal-inner {
  position: relative;
  width: 100%;
  max-width: 640px;
  max-height: 80vh;
}

.modal-inner .modal-close-btn {
  position: absolute;
  top: 16px;
  right: -32px;
  color: #fff;
  border: none;
}
.toaster {
  position: fixed;
  bottom: 5px;
  left: 5px;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 5px;

  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

/* .toaster-inner {
  position: relative;
  width: 100%;
  max-width: 640px;
  max-height: 80vh;
} */

/* .toaster-close-btn {
  position: absolute;
  top: 16px;
  right: 5px;
  color: rgb(42, 180, 0);
  border: none;
} */
/* .test {
  background-color: #008080;
} */
@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}
.my-spin-loader {
  /* padding-top: 35vh; */
  animation-name: spin;
  animation-duration: 1200ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}